{% extends 'base.html.twig' %}

{% block title %}Liste index{% endblock %}

{%block stylesheets %}
    {{ parent() }} 
    {{ encore_entry_link_tags('app') }}
    <link rel="stylesheet" href="{{ asset('build/css/liste.css') }}">
{% endblock %}

{% block body %}
    <h1>Liste index</h1>

    <table class="table">
        
        <tbody>
        {% for liste in listes %}
            <tr>
                <th>Liste</th>
                <td>{{ liste.id }}</td>
            
                <th>Nom</th>
                <td>{{ liste.nom }}</td>
            
                <th>DateDeCreation</th>
                <td>{{ liste.DateDeCreation ? liste.DateDeCreation|date('Y-m-d') : '' }}</td>

                <th>{{ include('liste/_delete_form.html.twig') }}</th>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_liste_new') }}">Create new</a>
{% endblock %}
