{% extends 'base.html.twig' %}

{% block title %}Liste index{% endblock %}

{%block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app') }}
    <link rel="stylesheet" href="{{ asset('build/css/liste.css') }}">
{% endblock %}

{% block body %}

    <h1>Mes listes de courses</h1>

    <main>

        {{ include('liste/_form.html.twig') }}

        <div class="flex-lists">
            {% for liste in listes %}
                <div class="list">
                    <h2>{{ liste.nom }}</h2>

                    <div class="list-container">

                        <ul class="list-articles">
                            {% for article in articlesParListe[liste.id] %}
                                <li class="info-article">
                                    <div>{{ article.nom }}</div>
                                    <div>{{ article.prix }}€ | x{{ article.quantite }}</div>
                                </li>
                            {% endfor %}
                        </ul>

                        <span class="list-separator"></span>

                        {{ include('liste/_delete_form.html.twig') }}
                    </div>
                </div>

            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}

        </div>

    </main>
{% endblock %}
