{% extends 'base.html.twig' %}

{% block title %}Liste index
{% endblock %}

{%block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}

	<h1>Mes listes de courses</h1>

	<main>

		{{ include('liste/_form.html.twig') }}

		<div class="flex-lists">
			{% for liste in listes %}
				<div class="list">

					<h2>{{ liste.nom }}</h2>

					<div class="list-container">

						<ul class="list-articles">
							{% set articles = articlesParListe[liste.id] %}
							{% set nbArticles = nbArticlesParListe[liste.id] %}

							{% for article in (nbArticles <= 3 ? articles : articles|slice(0, 3)) %}
								<li class="info-article">
									<div>{{ article.nom }}</div>
									<div>{{ article.prix }}€ | x{{ article.quantite }}</div>
								</li>
							{% endfor %}
						</ul>

						{% if nbArticlesParListe[liste.id] > 3 %}
							<span class="list-separator"></span>
							{% if nbArticlesParListe[liste.id]-3 == 1 %}
								<p class="nb-articles"> + {{ nbArticlesParListe[liste.id]-3 }} article</p>
							{% else %}
								<p class="nb-articles"> + {{ nbArticlesParListe[liste.id]-3 }} articles</p>
							{% endif %}
						{% endif %}

						<span class="list-separator"></span>

						<button class="bt-list" onclick="window.location.href='{{ path('app_liste_show', {'id': liste.id}) }}'">Voir le détail</button>
						<button class="bt-list" onclick="window.location.href='{{ path('app_liste_edit', {'id': liste.id}) }}'">Modifier</button>
						{{ include('liste/_delete_form.html.twig') }}
					</div>
				</div>

			{% else %}
				<tr>
					<td colspan="4">Aucune liste</td>
				</tr>
			{% endfor %}

		</div>


	</main>
{% endblock %}
