{% extends 'base.html.twig' %}

{% block title %}Liste index
{% endblock %}

{%block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}

	<h1>Mes listes de courses</h1>

	<main>

		{{ include('liste/_form.html.twig') }}

		<div class="flex-lists">
			{% for liste in listes %}
				<div class="list">

					<h2>{{ liste.nom }}</h2>

					<div class="list-container">

						<ul class="list-articles">
							{% set articles = articlesParListe[liste.id] %}
							{% set nbArticles = nbArticlesParListe[liste.id] %}

							{% for article in (nbArticles <= 3 ? articles : articles|slice(0, 3)) %}
								<li class="info-article">
									<div>{{ article.nom }}</div>
									<div>{{ article.prix }}€ | x{{ article.quantite }}</div>
								</li>
							{% endfor %}
						</ul>

						<span class="list-separator"></span>

						<p class="nb-articles"> + {{ nbArticlesParListe[liste.id]-3 }} article(s)</p>

						<span class="list-separator"></span>

						<a class="bt-list" href="{{ path('app_liste_show', {'id': liste.id}) }}">Voir le détail</a>

						{{ include('liste/_delete_form.html.twig') }}
					</div>
				</div>

			{% else %}
				<tr>
					<td colspan="4">Aucune liste</td>
				</tr>
			{% endfor %}

		</div>


	</main>
{% endblock %}
